@font-face {
    font-family: 'Montserrat';
    src: url('../Fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    margin: 10px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  
  h1 {
    margin: 0;
    font-size: 3.5rem;
    text-align: center;
    margin-top: 60px;
    color: #e2457c;
  }
  
  h2 {
    margin: 0;
    font-size: 2.5rem;
  }
  
  h3 {
    margin: 0;
    font-size: 2rem;
  }
  
  h5 {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
  }
  
  a {
    all: unset;
  }
  
  header, main, footer {
    width: 100%;
  }
  
  .header {
    height: 10vh; 
    width: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: space-around;
    margin-top: 2.5vh;
  }
  
  .header h4 {
    margin: 0;
    cursor: pointer;
    color: grey;
  }
  
  .header div {
    margin-left: 2vw;
  }
  
  .footer {
    height: 10vh; 
    width: 50vw; 
    display: flex; 
    align-items: center; 
    justify-content: space-around;
  }
  
  .foto_index {
    width: 100%;
    height: 60vh;
    background-image: url("../Media/");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .titoloService {
    color: #e2457c;
    text-align: center;
    font-weight: bolder;
    margin: 0;
    font-size: 3 .5rem;
  }
  
  #pService{
    text-align: center;
    align-items: center;
    margin-top: 50px;
    margin-top: 0;
  }

  
  .progetti {
    background-color: #fefefe;
    padding: 4rem 8vw;
    text-align: center;
  }
  

  
  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 2rem;
  }
  
  .card {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  
  .card h3 {
    color: #e2457c;
  }


  
  
 