@font-face {
  font-family: 'Montserrat';
  src: url('../Fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 10px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  margin: 0;
  font-size: 3.5rem;
}

h2 {
  margin: 0;
  font-size: 2.5rem;
}

h3 {
  margin: 0;
  font-size: 2rem;
}

a {
  all: unset;
}

header, main, footer {
  width: 100%;
}

.header {
  height: 10vh; 
  width: 100%; 
  display: flex; 
  align-items: center; 
  justify-content: space-around;
  margin-top: 2.5vh;
}

.header h4 {
  margin: 0;
  cursor: pointer;
  color: grey;
}

.header div {
  margin-left: 2vw;
}

.footer {
  height: 10vh; 
  width: 50vw; 
  display: flex; 
  align-items: center; 
  justify-content: space-around;
}

.foto_index {
  width: 100%;
  height: 60vh;
  background-image: url("../Media/");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.titoloCollaborazioni {
  color: #e2457c;
  text-align: center;
  font-weight: bolder;
  margin: 0;
  font-size: 3 .5rem;
}

.sottotitoli {
  color: #e2457c;
  text-align: center;
  font-weight: bolder;
  margin: 0;
  font-size: 3 .5rem;
}

.paragrafoTesto{
  text-align: center;
  margin-left: 10vw; 
  margin-right: 10vw;
  
}


/* ====== MENTORSHIP ====== */
.bottoneMentorship {
  background-color: #e2457c;
  color: white;              /* testo bianco */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* effetto morbido */
}

.bottoneMentorship:hover {
  background-color: black;
}

.mentorship {
  background-color: #fff;
  padding: 4rem 8vw;
  text-align: center;
}

.mentorship .container {
  max-width: 800px;
  margin: 0 auto;
}

.immagine {
  display: flex;
  justify-content: center; /* centra orizzontalmente */
  /*align-items: center;      centra verticalmente */
  /*height: 100vh;    
  */      
}

.iconaLink {
  width: 60px;
  stroke-width: 4;
  
}


/* ====== PROGETTI ====== */
.progetti {
  background-color: #fefefe;
  padding: 4rem 8vw;
  text-align: center;
}

.progetti h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
}

.card {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.08);
}

.card h3 {
  color: #e2457c;
  margin-bottom: 1rem;
}


.footer {
  height: 10vh; 
  width: 50vw; 
  display: flex; 
  align-items: center; 
  justify-content: space-around;
}


/*progetti */




.link-card {
    color: #0078D4;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.2s ease;
}

.link-card:hover {
    color: #00457C;
    text-decoration: underline;
    transform: scale(1.05);
}






